//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .pagebuilder-banner-wrapper .pagebuilder-poster-content {
        width: 60%;
    }

    h2 {
        letter-spacing: 8px;
        font-size: 26px;
    }

    a.pagebuilder-button-link, button.pagebuilder-button-link, div.pagebuilder-button-link{
        padding: 0;
        color: @color-Skeleton-black;
        font-weight: inherit;
        border-bottom: 2px solid @color-Skeleton-black;
        border-radius: 0;
    }
}





