//
//  Newsletter
// ______________________________________________

& when (@media-common = true) {

    .block.newsletter {
        background: @color-Skelrton__newsletter-background;
        padding: @indent__l @indent__s + 5;
        margin: 0 auto;

        .lib-vendor-prefix-display(flex);

        .title-newsletter {
            h2 {
                margin-top: 0;
                font-weight: @font-weight__semibold;
                letter-spacing: 2px;
                color: @color-Skeleton__secondary-color;
                .lib-font-size(30);
                text-transform: uppercase;
            }
        }

        .content {
            margin-left: auto;
        }

        .field .control:before {
            display: none;
        }

        input {
            width: 300px;
            background: transparent;
            border: 1px solid #ddd;
            height: 49px;
            padding-left: @indent__l + 5;
        }

        ::placeholder {
            color: @color-Skeleton__accent-text;
        }

        .action.subscribe.primary {
            padding: @indent__s + 7 @indent__l + 5;
            border: 0;
            border-radius: 0;
            margin: 0;
            color: @color-Skeleton__accent-color;
            background: @color-Skeleton__secondary-color;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: @font-weight__regular;
        }
    }
}

//
//  Mobile
// ______________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .block.newsletter {
        .lib-vendor-prefix-flex-wrap(wrap);
   }

            
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .block.newsletter {
        .lib-vendor-prefix-flex-wrap(wrap);

        .title-newsletter, .field {
            margin-bottom: @indent__s;
        }

        .form.subscribe {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        input {
            margin-right: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m)  {
    .block.newsletter {
        max-width: 100%;
        width: 1280px;

        .field.newsletter {
            max-width: 315px;
        }
    }
}

