//
//  Group Products
// ______________________________________________

.rokan-product-heading h2 {
    font-weight: @font-weight__semibold;
    .lib-font-size(18);
    letter-spacing: 1px;
    color: @color-Skeleton__secondary-color;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: @indent__base;
    border-bottom: 1px solid #eee;
    margin-bottom: @indent__xl;
}
