//
//  Our Products
// ______________________________________________

.catalog_products {
    margin-bottom: @indent__l;
    padding-bottom: @indent__base - 5;
}

.catalog-title {
    position: relative;
    margin-bottom: @indent__l;
    padding-bottom: @indent__base;

    h2 {
        margin: 0;
        color: @color-Skeleton__secondary-color;
        font-weight: @font-weight__semibold;
        .lib-font-size(24);
        padding: 0;
        position: relative;
        letter-spacing: 1px;
    }

    p {
        letter-spacing: 1px;
        .lib-font-size(14);
        padding-bottom: @indent__xs;
        margin: 0;
    }
}

.catalog-title:after {
    content: "";
    width: 30px;
    height: 3px;
    background: @color-Skeleton__secondary-color;
    position: absolute;
    bottom: 0;
    left: 0;
}
